<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
            <div class="about content">
                <h2>About us</h2>
                <p>This is the first project of mine on node.js</p>
                <p>I have learnt the Node Js from youtube from NetNinja Youtube channel and in just 2 days this project has been developed</p>
                <p>The Technology used are Node Js, MongoDB, Express.</p>
                <p>Many More projects to come...</p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>
</html>